<!-- <div class="total-flex">

    



    <div class="top-doctor">
        
    </div>

    <div class="top-below">
        <div class="advantage">
            <p style="font-size: 24px; color: blue;">Our Advantages</p>
            <p style=" color :blue;">° Make an Appointment</p>
            <p>° Digital X-Ray on Site</p>
            <p style=" color :blue;">° Emergency Services</p>
            <p>° Immunizations</p>
        </div>
        <div class="bg1">

        </div>
    </div>

    <div class="side-call">
        <span>📞+0442221100</span> &nbsp; &nbsp;
        <span>✉️ nomail@gmail.com</span>
        <p>No 40 K/4 Sholinganallur, Chennai - 97</p>
    </div>

    <div class="top-doctor2">
        <div class="bg2">

        </div>
        <div class="solution">
            <p>Quick solution</p>
            <p>Easy same or Next-Day Appointments</p>
            <p>Easily make appointment with our Doctors for your Family</p>
            <button class="appointment">Make An Appointment</button>
        </div>
    </div>

    <div class="top-flex1">

      <div class="words1">
          WE CARE ABOUT YOUR FAMILIES
      </div>
      <div class="words2">
          Check how your families health is by professional team doctor with complete and modern facilities services
      </div>


  </div>


  <div class="ending-card">
      <div class="card">
          <div class="container">
              <img src="../../../assets/primaryhealth.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Primary Care</b></span>
            <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
            <p style="cursor: pointer;">Learn More →</p> 
          </div>
        </div>
  
        <div class="card">
          <div class="container">
              <img src="../../../assets/ending-card1.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Heart Care</b></span>
            <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
            <p style="cursor: pointer;">Learn More →</p> 
          </div>
        </div>
  
        <div class="card">
          <div class="container">
              <img src="../../../assets/ending-card2.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Surgery </b></span>
            <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
            <p style="cursor: pointer;">Learn More →</p> 
          </div>
        </div>
  
        <div class="card">
          <div class="container">
              <img src="../../../assets/ending-card3.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
              <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Dermatology</b></span>
            <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
            <p style="cursor: pointer;">Learn More →</p> 
          </div>
        </div>
      </div>

    



</div> -->


<!doctype html>
<html>
<head>
<meta charset="utf-8">
<!--For responsive		-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	
	
<title>Medical HTML</title>

<!--Owl Carousel	-->	
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"  />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"  />
	
	
<!--Bootstra CSS	-->


<!--Custom Style CSS	-->
<!-- <link rel="stylesheet" href="css/style.css" type="text/css">	 -->
</head>

<body>
	
	
	
<!--Start Header	-->
<header>
	   <div class="container">
	     <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	    <img src="../../../assets/hospital-final-logo.png" width="100px" style="border-radius: 50px 50px 50px 50px;" height="70px" alt=""><span style="color: black;font-weight: bolder;font-size: 24px; margin-left: 15px;"><span style="font-weight: bolder;">H</span>eaven Life</span>
	  </a>
    <button class="navbar-toggler" type="button" style="color: black;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa-solid fa-sliders"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: black;" href="#home-section"><span style="color: blue;font-size: 18px;">H</span>ome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="#about-section"><span style="color: blue;font-size: 18px;">A</span>bout</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " style="color: black;" href="#services-section"><span style="color: blue;font-size: 18px;">S</span>ervices</a>
        </li>
		   <li class="nav-item">
          <a class="nav-link " style="color: black;" href="#reviews-section"><span style="color: blue;font-size: 18px;">R</span>eviews</a>
        </li>
		    <li class="nav-item">
          <a class="nav-link " style="color: black;" href="#team-section"><span style="color: blue;font-size: 18px;">O</span>ur Doctors</a>
        </li>
		  
		    <li class="nav-item">
          <a class="nav-link " style="color: black;" ><span style="color: blue;font-size: 18px;">B</span>log</a>
        </li>
		  
		 <li class="nav-item">
          <a class="nav-link " style="color: black;"><span style="color: blue;font-size: 18px;">B</span>ook Appointment</a>
        </li> 
		  
		  
		  
		  
      </ul>
     
    </div>
  </div>
</nav>
	</div>
	</header>	
<!--End Header	-->
	
	
	
<!--Start Hero Banner	-->
	<section class="hero-banner" id="home-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <div class="banner-text-wrap">
					       <h1 class="text-white">We Provide Best Medical Services</h1>
						  <!-- <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p> -->
						  <a href="#"  class="btn btn-white">Book Appointment</a>
					  </div>
				 </div>
			 </div>
		</div>
	</section>
<!--End Hero Banner	-->
	
	
<!--Start Features Section	-->
	<!-- <section class="features-section">
	      <div class="container" style="height: 200px;">
		     <div class="row gx-0">
			      
				 <div class="col-md-4">
				      <div class="features-box bg1">
					      <img src="../../../assets/calendar.png" alt="">
						  <h3>24 Hours Services</h3>
						  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-4" style="">
				      <div class="features-box bg2">
					      <img src="../../../assets/staff.png" alt="">
						  <h3>Professional Staff</h3>
						  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
					 </div>
				 </div>
				 
				   <div class="col-md-4">
				      <div class="features-box bg3">
					      <img src="../../../assets/ambulance.png" alt="">
						  <h3>Emergency Care</h3>
						  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since</p>
					 </div>
				 </div>
				 
				 
			  </div>
		</div>
	</section> -->
<!--End Features Section	-->
	
	

<!--	Start About Section-->
	<section class="about-section"  id="about-section">
	      <div class="container">
		      <div class="row gx-5">
			      
				 <div class="col-md-6">
				        <div class="about-media">
					      <img src="../../../assets/about.jpg" alt="" >
					 </div>
				  </div>
				  
				  <div class="col-md-6">
				       <div  class="about-info">
						   <h2>About Us</h2>
					        <p class="lead" style="font-family: ui-sans-serif;text-align: justify;">Ease of use is a primal requirement for any successful product. But it’s historically been found lacking in enterprise software, as is demonstrated by the rigorous and extensive training sessions and users devising shortcuts despite them.

                    We at Koru have specialized in enterprise UX design, and especially healthcare UX projects over the past decade. We’ve partnered with businesses to bring usability and user experience into the enterprise software development process. From revamping legacy systems to enhancing the experience for existing products, or introducing exciting new features, we’ve helped companies diminish usability challenges and embrace opportunities.
                    
                    In this blog, we’ve collated some of our healthcare experience design projects to demonstrate how ease of use for complex, rigid processes need not be a pipedream. Usability considers numerous aspects such as accessibility – which is designed for people with all kinds of abilities; or simplified UI patterns which reduce stress and enable easier decision-making; or even natural mapping which replicates the users’ expectations of real-world functionality.</p>
						   <a href="#" class="btn btn-primary">Lean More</a>
					  </div>
				  </div>
				  
				  
				  
			  </div>
		</div>
	</section>
<!--	End About Section-->
	
	
	
<!--Start services Section-->
	<section class="services-section" id="services-section">
	     <div class="container">
		     <div class="row">
			     
				 <div class="col-md-12">
				     <h2 class="section-title text-center" style="color: black;">Services</h2>
				 </div>
				 
				 
				 <div class="col-md-4">
				      <div class="services-box">
					      <img src="../../../assets/neurology-icon.png" alt="">
						  <h3>Neurology</h3>
						  <p>Many neurologists also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>
				 
				 
				 <div class="col-md-4">
				      <div class="services-box">
					      <img src="../../../assets/eyecare-icon.png" alt="">
						  <h3>Eyes care</h3>
						  <p>Many Eye  also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.

              </p>
					 </div>
				 </div> 
				 
				 
				<div class="col-md-4">
				      <div class="services-box">
					      <img src="../../../assets/pulmonary-icon.png" alt="">
						  <h3>Pulomonary</h3>
						  <p>Many Pulomonary also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>  
				 
				 <div class="col-md-4">
				      <div class="services-box">
					      <img src="../../../assets/cardiology-icon.png" alt="">
						  <h3>Cardiology</h3>
						  <p>Many Cardiologist also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>  
				 
				 
				  <div class="col-md-4">
				      <div class="services-box">
					      <img src="../../../assets/dental-icon.png" alt="">
						  <h3>Dental Care</h3>
						  <p>Many Dental also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>
				 
				 
				   <div class="col-md-4">
				      <div class="services-box">
					      <img src="../../../assets/hepatology-icon.png" alt="">
						  <h3>Hepatology</h3>
						  <p>Many Hepatology also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>
				 
				 
			 </div>
		</div>
	</section>
	
	<section class="team-section" id="team-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <h2 class="section-title text-center">Our Expert Team</h2>
				 </div>
				 
				 
				 <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/1.jpg" height="305px" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Gowtham S</h3>
							 <p>Cardiologist</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
			 <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/2.jpg" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Vijay Kumar</h3>
							 <p>Dermatologist</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/3.jpg" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Sarath Kumar</h3>
							 <p>Dentist</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/4.jpg" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Keerthika</h3>
							 <p>All Rounder</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
				 
			 </div>
		</div>
	</section>
<!--End Team Section	-->
	
	

	
<!--Start Booking Section-->

<section class="booking-section bg-overlay" id="booking-section">
	    <div class="container">
	     <div class="row">
			    
			    <div class="col-md-6" style="height: 400px;">
			       <div class="form-col">
					    <h4>Make An Appointment</h4>
					   <h3>Get Free Consultation</h3>
					</div>
					
					<form>
					    
						<div class="row">
						     <!-- <div class="col-md-6">
							     <div class="form-group">
								       <input type="text" class="form-control" placeholder="Name">
								 </div>
							</div>
							
							<div class="col-md-6">
							     <div class="form-group">
								       <input type="text" class="form-control" placeholder="Email">
								 </div>
							</div> -->
						 
<!-- 							
							<div class="col-md-12">
							     <div class="form-group">
								       <input type="text" class="form-control" placeholder="Subject">
								</div>
							</div> -->
							
							<!-- <div class="col-md-12">
							     <div class="form-group">
								       <textarea class="form-control" placeholder="Message"></textarea>
								</div>
							</div> -->
							
							<div class="col-md-12">
							     <div class="form-group">
								     <input type="submit" value="Book"  class="btn btn-primary">
								</div>
							</div>
							
						</div>
						 
						
					</form>
					
					
					
					
					
			 </div>
			 
			</div>
	</div>
	</section>	
	
<!--End Booking Section-->
	
	
	
<!--Start Blog 	-->
	<section class="blog-section" id="blog-section">
		
		<div class="container">
		     <div class="row">
			     <div  class="col-md-12">
				      <h2 class="section-title text-center">Blog & News</h2>
				 </div>
				 
				 
				<div class="col-md-4">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="../../../assets/blog1.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a href="#">Lorem Ipsum is simply dummy  </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i> 18 Sep 2021 </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						  </div>
					</div>
				 </div> 
				 
				
				 <div class="col-md-4">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="../../../assets/blog2.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a href="#">Lorem Ipsum is simply  </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i> 18 Sep 2021 </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						  </div>
					</div>
				 </div> 
				 
				 
				 <div class="col-md-4">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="../../../assets/blog3.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a href="#">Lorem Ipsum is simply dummy  </a></h3>
							  <ul class="meta">
							      <li> <i class="fa fa-calendar" aria-hidden="true"></i> 18 Sep 2021 </li>
							      <li> <i class="fa fa-user-o" aria-hidden="true"></i> Admin </li>
							  </ul>
							  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
						  </div>
					</div>
				 </div> 
				 
				 
			</div>
		</div>
		
	</section>
<!--End Blog 	-->


<!-- <div class="ending-card1">
  <div class="card">
      <div class="container"> -->
          <!-- <img src="../../../assets/primaryhealth.jpg" width="150px" height="150px" style="margin-left: 80px;" alt=""> -->
          <!-- <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Primary Care</b></span> -->
        <!-- <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
        <p style="cursor: pointer;">Learn More →</p> 
      </div>
    </div>

    <div class="card">
      <div class="container">
          <img src="../../../assets/ending-card1.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Heart Care</b></span>
        <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
        <p style="cursor: pointer;">Learn More →</p> 
      </div>
    </div>


    <div class="card">
      <div class="container">
          <img src="../../../assets/ending-card2.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Surgery </b></span>
        <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
        <p style="cursor: pointer;">Learn More →</p> 
      </div>
    </div>
</div> -->
    <!-- <div class="card">
      <div class="container">
          <img src="../../../assets/ending-card3.jpg" width="150px" height="150px" alt="">&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa-solid fa-stethoscope"></i><span style="color: blue;"><b style="font-size: 24px;">Dermatology</b></span>
        <h6><b>Our Certified Doctors will provide best Health care tips</b></h6> 
        <p style="cursor: pointer;">Learn More →</p> 
      </div>
    </div> -->
  
    <!-- <div class="top-flex1">

      <div class="words1">
          WE CARE ABOUT YOUR FAMILIES
      </div>
      <div class="words2">
          Check how your families health is by professional team doctor with complete and modern facilities services
      </div>


  </div> -->

	

<!--End Footer	-->
	
	
	
	
	
	
<!--Script-->
	
<!-- <script src="js/jquery-3.4.1.min.js" type="text/javascript" > </script>	 -->
	
	
<!--Bootstra JS	-->
<!-- <script src="js/bootstrap.min.js" type="text/javascript" > </script> -->
	
<!--Owl Carousel	-->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" type="text/javascript" > </script>	 -->

<!--Custom JS	-->
 <!-- <script src="js/custom.js" type="text/javascript" > </script> -->
<!-- 
<script>
$('.reviews-slide').owlCarousel({
    loop:true,
    margin:10,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:1
        },
        1000:{
            items:1
        }
    }
})
	</script>
	 -->
	
	
</body>
</html>
