<body>
<div class="whole-nav">

    <div class="leftlogo">
        <img src="../../../assets/hospital-final-logo.png" height="70px" width="110px" alt="">&nbsp;<span
            style="font-size: 20px;font-weight: bolder;margin-top: 20px;cursor: pointer;" [routerLink]="['']" ><span style="color: blue;">H</span>eaven
            Life</span>
    </div>
    <div class="right-top" style="margin-top: 20px;">
        <div>
            <span class="nav-hover" style="font-size: 16px;cursor: pointer;"><span
                    style="color: blue;font-size: 18px;">H</span>ome</span>&nbsp;&nbsp;
            <span class="nav-hover" style="font-size: 16px;cursor: pointer;"><span
                    style="color: blue;font-size: 18px;">A</span>bout</span>&nbsp;&nbsp;
            <!-- <span class="nav-hover" style="font-size: 16px;font-weight: bolder;"><span style="color: blue;">S</span>ERVICES</span>&nbsp;&nbsp; -->
            <span class="nav-hover" style="font-size: 16px;cursor: pointer;"><span
                    style="color: blue;font-size: 18px;">F</span>aq</span>&nbsp;&nbsp;
            <span class="nav-hover" style="font-size: 16px;cursor: pointer;" [routerLink]="['']" (click)="logout()"><span
                    style="color: blue;font-size: 18px;">L</span>ogout</span>
        </div>
    </div>

</div>



<div class="head">
<h4 style="display: flex;justify-content: center;font-weight: bold;">APPOINTMENT DETAILS</h4>
</div>
<div class="approval" >
    <!-- <h4 style="font-weight: bolder;display: flex;justify-content: center;">Appointment Details</h4> -->

    <form style="display: flex;justify-content: center;margin-top: 15px;">
        <label>Enter Date to Get the Appointment Details : </label>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" [(ngModel)]="dates" [ngModelOptions]="{standalone: true}">&nbsp;&nbsp;&nbsp;&nbsp;
<button (click)="getAllDoctors()">Submit</button>
    </form>



    <div class="product mt-4">
        <br>
        <div class="containers">
            <div class="box-container">
                <ng-container *ngFor="let doctor of DDoctors">
                    <div class="box">
                        <!-- <img src="../../../assets/{{doctor.name}}.jpeg" class="card-img" style="height: 150px;width: 150px;" alt="..."> -->
                        <p >Name : {{doctor.patientName}}</p>
                        <p >UserName : {{doctor.sex}}</p>
                        <p >Visit Date : {{doctor.date}}</p> 
                    </div>
                </ng-container>
            </div>
        </div>
        <br><br>
    </div>
    
</div>
</body>