<div class="whole-nav">

    <div class="leftlogo">
        <img src="../../../assets/hospital-final-logo.png" height="70px" width="110px" alt="">&nbsp;<span style="font-size: 20px;font-weight: bolder;"><span style="color: blue;">H</span>eaven Life</span>
    </div>
    <div class="right-top" style="margin-top: 20px;">
       <div>
         <span class="nav-hover" style="font-size: 16px;font-weight: bolder;"><span style="color: blue;">H</span>OME</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;font-weight: bolder;"><span style="color: blue;">A</span>BOUT</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;font-weight: bolder;"><span style="color: blue;">S</span>ERVICES</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;font-weight: bolder;"><span style="color: blue;">F</span>AQ</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;font-weight: bolder;"><span style="color: blue;">R</span>EGISTER</span>
        </div>
    </div>

</div>