<header>
	   <div class="container">
	     <nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
	    <img src="../../../assets/hospital-final-logo.png" width="100px" style="border-radius: 50px 50px 50px 50px;" height="70px" alt=""><span style="color: black;font-weight: bolder;font-size: 24px; margin-left: 15px;"><span style="font-weight: bolder;">H</span>eaven Life</span>
	  </a>
    <button class="navbar-toggler" type="button" style="color: black;" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-sliders"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: black;" href="#home-section"><span style="color: blue;font-size: 18px;">H</span>ome</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: black;" href="#about-section"><span style="color: blue;font-size: 18px;">A</span>bout</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " style="color: black;" href="#services-section"><span style="color: blue;font-size: 18px;">S</span>ervices</a>
        </li>
		   <li class="nav-item">
          <a class="nav-link " style="color: black;" href="#reviews-section"><span style="color: blue;font-size: 18px;">R</span>eviews</a>
        </li>
		    <li class="nav-item">
          <a class="nav-link " style="color: black;" href="#team-section"><span style="color: blue;font-size: 18px;">O</span>ur Doctors</a>
        </li>
		  
		    <li class="nav-item">
          <a class="nav-link " style="color: black;cursor: pointer;" ><span style="color: blue;font-size: 18px;cursor: pointer;">B</span>log</a>
        </li>
		  
		 <li class="nav-item">
          <a class="nav-link " style="color: black;cursor: pointer;" [routerLink]="['login']"><span style="color: blue;font-size: 18px;cursor: pointer;" >B</span>ook Appointment</a>
        </li> 
		  
		  
		  
		  
      </ul>
     
    </div>
  </div>
</nav>
	</div>
	</header>	

	<section class="hero-banner" id="home-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <div class="banner-text-wrap">
					       <h1 class="text-white">We Provide Best Medical Services</h1>
						  <!-- <p class="text-white">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p> -->
						  <a href="#" [routerLink]="['login']"  class="btn btn-white">Book Appointment</a>
					  </div>
				 </div>
			 </div>
		</div>
	</section>

	<section class="about-section"  id="about-section">
	      <div class="container">
		      <div class="row gx-5">
			      
				 <div class="col-md-6">
				        <div class="about-media">
					      <img src="../../../assets/aboutus.jpg" alt="" class="aboutus-img" style="box-shadow: 0 0 3px 5px;margin-top: 20px;" >
					 </div>
				  </div>
				  
				  <div class="col-md-6">
				       <div  class="about-info">
						   <h2>About Us</h2>
					        <p class="lead" style="font-family: ui-sans-serif;text-align: justify;">Ease of use is a primal requirement for any successful product. But it’s historically been found lacking in enterprise software, as is demonstrated by the rigorous and extensive training sessions and users devising shortcuts despite them.

                    We at Koru have specialized in enterprise UX design, and especially healthcare UX projects over the past decade. We’ve partnered with businesses to bring usability and user experience into the enterprise software development process. From revamping legacy systems to enhancing the experience for existing products, or introducing exciting new features, we’ve helped companies diminish usability challenges and embrace opportunities.
                    
                    In this blog, we’ve collated some of our healthcare experience design projects to demonstrate how ease of use for complex, rigid processes need not be a pipedream. Usability considers numerous aspects such as accessibility – which is designed for people with all kinds of abilities.</p>
						   <a href="#" class="btn btn-primary">Lean More</a>
					  </div>
				  </div>
				  
				  
				  
			  </div>
		</div>
	</section>

	<section class="services-section" id="services-section">
	     <div class="container">
		     <div class="row">
			     
				 <div class="col-md-12">
				     <h2 class="section-title text-center" style="color: black;">Services</h2>
				 </div>
				 
				 
				 <div class="col-md-4" id="service">
				      <div class="services-box">
					      <img src="../../../assets/neurology-icon.png" alt="">
						  <h3>Neurology</h3>
						  <p>Many neurologists also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>
				 
				 
				 <div class="col-md-4" id="service">
				      <div class="services-box">
					      <img src="../../../assets/eyecare-icon.png" alt="">
						  <h3>Eyes care</h3>
						  <p>Many Eye  also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.

              </p>
					 </div>
				 </div> 
				 
				 
				<div class="col-md-4" id="service">
				      <div class="services-box">
					      <img src="../../../assets/pulmonary-icon.png" alt="">
						  <h3>Pulomonary</h3>
						  <p>Many Pulomonary also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>  
				 
				 <div class="col-md-4" id="service">
				      <div class="services-box">
					      <img src="../../../assets/cardiology-icon.png" alt="">
						  <h3>Cardiology</h3>
						  <p>Many Cardiologist also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>  
				 
				 
				  <div class="col-md-4" id="service">
				      <div class="services-box">
					      <img src="../../../assets/dental-icon.png" alt="">
						  <h3>Dental Care</h3>
						  <p>Many Dental also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>
				 
				 
				   <div class="col-md-4" id="service">
				      <div class="services-box">
					      <img src="../../../assets/hepatology-icon.png" alt="">
						  <h3>Hepatology</h3>
						  <p>Many Hepatology also have additional training or interest in one area of neurology, such as stroke, epilepsy, neuromuscular, sleep medicine, pain management, or movement disorders.</p>
					 </div>
				 </div>
				 
				 
			 </div>
		</div>
	</section>
	<button (click)="topFunction()" id="myBtn" title="Go to top">UP</button>
	<section class="team-section" id="team-section">
	     <div class="container">
		     <div class="row">
			      <div class="col-md-12">
				      <h2 class="section-title text-center">Our Expert Team</h2>
				 </div>
				 
				 
				 <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/1.jpg" height="305px" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Gowtham S</h3>
							 <p>Cardiologist</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
			 <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/2.jpg" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Vijay Kumar</h3>
							 <p>Dermatologist</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/3.jpg" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Sarath Kumar</h3>
							 <p>Dentist</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
				 
				  <div class="col-md-3">
				     <div class="team-box">
					     <div class="team-media">
						      <img src="../../../assets/team/4.jpg" alt="" >
						 </div>
						 <div class="team-info">
						     <h3>Keerthika</h3>
							 <p>All Rounder</p>
							 <ul class="team-social">
							    <li> <a href=""> <i class="fa fa-facebook" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-twitter" aria-hidden="true"></i> </a>  </li>
							    <li> <a href=""> <i class="fa fa-linkedin" aria-hidden="true"></i></a>  </li>
							    <li> <a href=""> <i class="fa fa-instagram" aria-hidden="true"></i></a>  </li>
							 </ul>
						 </div>
					 </div>
				 </div>
				 
				 
			 </div>
		</div>
	</section>




<section class="booking-section bg-overlay" id="booking-section">
	    <div class="container">
	     <div class="row">
			    
			    <div class="col-md-6" style="height: 400px;">
			       <div class="form-col">
					    <h4>Make An Appointment</h4>
					   <h3>Get Free Consultation</h3>
					</div>
					
					<form>
					    
						<div class="row">
							<div class="col-md-12">
							     <div class="form-group">
								     <input type="submit" value="Book" [routerLink]="['/login']"  class="btn btn-primary">
								</div>
							</div>
							
						</div>
						 
						
					</form>
					
					
					
					
					
			 </div>
			 
			</div>
	</div>
	</section>	
	
<!--End Booking Section-->
	
	
	
<!--Start Blog 	-->
	<section class="blog-section" id="blog-section">
		
		<div class="container">
		     <div class="row">
			     <div  class="col-md-12">
				      <h2 class="section-title text-center">Blog & News</h2>
				 </div>
				 
				 
				<div class="col-md-4" id="blog">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="../../../assets/blog1.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a >TARE </a></h3>
							  
							  <p>Allergic disorders are more than what meets the eye. We often ignore sneezes, rash, and other subtle long-term allergic symptoms that eventually end up in catastrophic situations. Allergies are caused due to an abnormal immune response to substances that are typically considered harmless by most individuals. Symptoms of allergies can be mild to severe and, in rare cases, can be life-threatening (as in anaphylaxis).</p>
						  </div>
					</div>
				 </div> 
				 
				
				 <div class="col-md-4" id="blog">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="../../../assets/blog2.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a >Exploring TACE  </a></h3>
							  
							  <p>Allergic disorders are more than what meets the eye. We often ignore sneezes, rash, and other subtle long-term allergic symptoms that eventually end up in catastrophic situations. Allergies are caused due to an abnormal immune response to substances that are typically considered harmless by most individuals. Symptoms of allergies can be mild to severe and, in rare cases, can be life-threatening (as in anaphylaxis). </p>
						  </div>
					</div>
				 </div> 
				 
				 
				 <div class="col-md-4" id="blog">
				      <div class="blog-box">
					     <div class="blog-media">
						      <img src="../../../assets/blog3.jpg" alt="">
						  </div>
						  <div class="blog-info">
						      <h3><a>Brain Tumors</a></h3>
							  
							  <p>Allergic disorders are more than what meets the eye. We often ignore sneezes, rash, and other subtle long-term allergic symptoms that eventually end up in catastrophic situations. Allergies are caused due to an abnormal immune response to substances that are typically considered harmless by most individuals. Symptoms of allergies can be mild to severe and, in rare cases, can be life-threatening (as in anaphylaxis).</p>
						  </div>
					</div>
				 </div> 
				 
				 
			</div>
		</div>
		
	</section>

	<div class="ending-flex">
		<div class="end1"></div>
		<div class="end2"></div>
		<div class="end3"></div>
	</div>


<app-footer></app-footer>