<div class="whole-nav">
    <div class="leftlogo">
        <img src="../../../assets/hospital-final-logo.png" height="70px" width="110px" alt="">&nbsp;<span style="font-size: 18px;font-weight: bolder;cursor: pointer;" [routerLink]="['']"><span style="color: blue;cursor: pointer;">H</span>EAVEN LIFE</span>
    </div>
    <div class="box-container px-5">
    <div class="right-top" style="margin-top: 20px;">
       <div>
         <span class="nav-hover" style="font-size: 16px;cursor: pointer;" [routerLink]="['']"><span style="color: blue;">H</span>ome</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;"><span style="color: blue;">A</span>bout</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;"><span style="color: blue;">S</span>ervices</span>&nbsp;&nbsp;
         <span class="nav-hover" style="font-size: 16px;"><span style="color: blue;">F</span>aq</span>&nbsp;&nbsp;
         <span class="nav-hover" [routerLink]="['/signup']" style="font-size: 16px;"><span style="color: blue;">R</span>egister</span>
        </div>
    </div>
    </div>
</div>