<!-- 
<div class="social-media">
    <div class="social1" >
      <i class="fa-brands fa-square-instagram"></i></div>&nbsp; &nbsp;
    <div class="social2">
    <i class="fa-brands fa-facebook"></i></div>&nbsp;&nbsp;
    <div class="social3">
    <i class="fa-brands fa-twitter"></i></div>&nbsp;&nbsp;
    <div class="social4">
    <i class="fa-brands fa-youtube"></i></div>
  </div> -->
  
  
  <footer>
    <div class="footer-top">
      <div class="footer-top-word">
        <!-- <i class="fa-solid fa-bag-shopping"></i> -->
      <p  style="font-weight: bold;">WE VALUE OUR PATIENTS</p>
    </div>
  <div class="footer-top-word">
    <!-- <i class="fa-solid fa-hand-holding-heart"></i> -->
    <p  style="font-weight: bold;">100% HANDPICKED</p>
  </div>
  
  <div class="footer-top-word">
    <!-- <i class="fa-regular fa-handshake"></i> -->
    <p  style="font-weight: bold;">BEST SERVICE </p>
  </div>
  
    </div>
  
    <div class="footer-end">
      <div class="end1" >
        <p style="font-weight: bold;">ABOUT</p>
        <p>Who We Are</p>
        <p>Join Our Team</p>
        <p>Terms & Conditions</p>
        <p>Fees & Payments</p>
      </div>
      <div class="end2" >
        <p style="font-weight: bold;">TREATMENT</p>
        <p>Track Your Order</p>
        <p>Frequently Asked Questions</p>
        <p>Returns</p>
        <p>Cancellations</p>
        <p>Payments</p>
        <p>Customer Care</p>
      </div>
      <div class="end3">
        <p style="font-weight: bold;">LOCATIONS</p>
        <p>Chennai</p>
        <p>Coimbatore</p>
        <p>Madurai</p>
        <p>Karur</p>
        <p>Dindugul</p>
      </div>
      <div class="end4" >
        <p style="font-weight: bold;">FOLLOW US</p>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
        <p>Pinterest</p>
      </div>
    </div>
  
    <div class="theend">
      <!-- <p class="paymentmethods" style="font-weight: bold;">Payment Methods</p> -->
      <!-- <div class="paymentmethods" style="font-weight: bold;">
        Net Banking 🏦  &nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     Verifiedby VISA 💳 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;         Cash On Delivery 💵
      </div> -->
      <div class="copyright" style="margin-right: 70px;">
        <p style="font-weight: bold;">&copy;Copyright Reserved 2023</p>
      </div>
    </div>
  
  </footer>
  