<div class="whole-nav">
        <div class="nav1">
                <p style="cursor: pointer;" [routerLink]="['/approval']"><span style="color: blue;font-size:18px ;margin-left: 10px;cursor: pointer;    font-family: 'Manrope';
                font-style: normal;">A</span>pproval List</p>
                <p style="cursor: pointer;" [routerLink]="['/availabledoctors']"><span style="color: blue;font-size: 18px;margin-left: 10px;cursor: pointer;    font-family: 'Manrope';
                font-style: normal;">A</span>vailable Doctors</p>
                <p style="cursor: pointer;" [routerLink]="['/appointmentdetails']"><span style="color: blue;font-size: 18px;margin-left: 10px;cursor: pointer;    font-family: 'Manrope';
                font-style: normal;">A</span>ppointment Details</p>
                <p style="cursor: pointer;" [routerLink]="['/adddoctor']"><span style="color: blue;font-size: 18px;margin-left: 10px;cursor: pointer;    font-family: 'Manrope';
                font-style: normal;">A</span>dd Doctors</p>
                <p style="cursor: pointer;" [routerLink]="['/updatedoctors']"><span style="color: blue;font-size: 18px;margin-left: 10px;cursor: pointer;    font-family: 'Manrope';
                                font-style: normal;">U</span>pdate Doctors</p>
        </div>
</div>